<footer class="text-black-50 mt-xl-5" style="background-color: #1F2833; width: 100%;" xmlns:th="http://www.thymeleaf.org">
    <div class="container" style="padding-top: 2%; margin-bottom: 0;">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3 text-white">
                <h5>About this site</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
<!--                    eLibrary is intended to provide easy access to information about any book. This includes author,-->
<!--                    type of genre and price as the primary information.-->
                </p>
                <p class="mb-0">
<!--                    Users can also add the book to their cart should they wish to rent it from the library.-->
                </p><br><br><br>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto text-white">
                <h5>Ilija Jovanchevski</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a>Student ID - 183021</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto text-white">
                <h5>Filip Mishevski</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a>Student ID - 183184</a></li>
                    </ul>
            </div>

<!--            <div class="col-md-4 col-lg-3 col-xl-3">-->
<!--                <h5>Contact</h5>-->
<!--                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
<!--                <ul class="list-unstyled">-->
<!--                    <li><i class="fa fa-home mr-2"></i> My company</li>-->
<!--                    <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>-->
<!--                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>-->
<!--                    <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
</footer>